<div class="container todo" align="center" layout="column" ng-controller="Todo">
		<h2 class="md-display-2" align="center">To Do List</h2>
		<form action="#" name="todo" flex="100" layout='row'>
	        <md-input-container class="md-block" flex="100" flex-gt-sm="100">
	          <label align="left">What to do</label>
	          <input required name="task" ng-model="task" md-maxlength="100">
	          <div ng-messages="todo.task.$error" align="left">
	            <div ng-message="md-maxlength">100 letters max</div>
	            <div ng-message="required">Enter something and press "ADD"</div>
	          </div>
	        </md-input-container>
	        <div layout="row" layout-align="center center">
	         	<md-button class="md-raised md-primary" ng-click="add(this)">Add</md-button>
				<md-button class="md-raised md-warn" ng-click="clear()">Clear</md-button>
			</div>
	    </form>
	    <div layout="column">
	    	<div class="undone-tasks">
				<h2 class="md-display-1" ng-class="{'show':notEmpty}" align="center">Planned tasks</h2>
		    	<md-list flex>
			        <md-list-item class="secondary-button-padding" ng-repeat="task in tasks track by $index" align="left">
					    <p><span>{{$index+1}}. </span>{{ task }}</p>
					    <md-button class="md-secondary md-warn" ng-click="remove(this)">Remove</md-button>
					    <md-button class="md-secondary md-primary" ng-click="done(this)">Done</md-button>
					</md-list-item>
			    </md-list>	
	    	</div>
	    	<div class="done-tasks">
			    <h2 class="md-display-1" ng-class="{'show':doneNotEmpty}" align="center">Done tasks</h2>
				<md-list flex>
			        <md-list-item class="secondary-button-padding done-list" ng-repeat="task in doneTasks track by $index" align="left">
					    <p>{{ task }}</p>
					    <md-button class="md-secondary md-warn" ng-click="removeDone(this)">Remove</md-button>
					    <md-button class="md-secondary md-primary" ng-click="unDone(this)">UnDone</md-button>
					</md-list-item>
		    	</md-list>
		    </div>
	    </div>
	</div>