<ul class="film_list">
    <li ng-repeat="filmItem in films | orderBy: order | showLiked: liked track by $index" class="filmItem" ng-class="{compact: mode !== 'full'}">
        <div class="filmItem_inner">
            <div class="filmItem_img_wrap" ng-hide="mode !== 'full'">
                <img ng-src="{{ filmItem.picture}}" alt="">
            </div>
            <div class="filmItem_text">
                <h2 class="filmItem_text_name">{{ filmItem.name | selectMode: mode}}</h2>
                <p class="filmItem_text_desc">{{ filmItem.desc | selectMode: mode}}</p>
            </div>
        </div>
        <div class="liked" ng-class="{selected: filmItem.liked}" ng-click="status({id:filmItem.id})"></div>
    </li>
</ul>