.slider_container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 640px;
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 1s;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        .index {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 40px;
            padding: 10px;
            color: gray;
        }
    }
    .dot {
        display: inline-block;
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        border: 1px solid darkred;
        border-radius: 50%;
        margin: 0 5px;
        font-size: 0;
        cursor: pointer;
        outline: none;
        transition: .35s;
        &.active, &:hover {
            background-color: darkred;
        }
    }
}
.arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 60px;
    font-size: 48px;
    cursor: pointer;
    transform: translateY(-50%);
    outline: none;
    border-radius: 5px;
    transition: .45s;
    &:hover {
        background-color: #d8d8d8;
    }
    &_next {
        right: -50px;
        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 2px;
            top: 2%;
            right: 50%;
            height: 50%;
            transform: rotate(-20deg);
            background-color: darkred;
        }
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 2px;
            top: 48%;
            right: 50%;
            height: 50%;
            transform: rotate(20deg);
            background-color: darkred;
        }
    }
    &_prev {
        left: -50px;
        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 2px;
            top: 2%;
            left: 50%;
            height: 50%;
            transform: rotate(20deg);
            background-color: darkred;
        }
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 2px;
            top: 48%;
            left: 50%;
            height: 50%;
            transform: rotate(-20deg);
            background-color: darkred;
        }
    }
}