<div class="text-center">
    <h1>Slider</h1>
    <div class="slider_container">
        <div ng-class="{active: $index === slider.activeItem}" class="slide" ng-repeat="slide in slider.slides track by $index">
            <img ng-src="{{ slide }}" alt="pic" />
            <span class="index">{{+$index+1}}</span>
        </div>
        <div class="pagination">
            <slides-pagination ng-repeat="dot in slider.slides track by $index" changesl="slider.changeSlide(current)" index="{{ $index }}" ng-class="{active: $index === slider.activeItem}"></slides-pagination>
        </div>
        <arrow type="prev" changesl="slider.changeSlide(current)"></arrow>
        <arrow type="next" changesl="slider.changeSlide(current)"></arrow>
    </div>
</div>