.user {
	text-align: center;
	.ava {
		font-size: 140px;
		color: #9e9e9e;
		margin: auto;
	}
	h2 {
		margin: 30px 0;
		font-size: 48px;
	}
}
.logout {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #FFF;
	-webkit-border-radius: 0 0 0 5px;
	        border-radius: 0 0 0 5px;
}
.text-center {
	text-align: center;
}
.project_header {
	background-color: #9e9e9e;
	margin-bottom: 50px;
}
.project_item {
	margin: 10px 0;
}
.inactive {
	pointer-events: none;
}
.project_item_block {
	padding: 50px;
	width: 500px;
}

.no_bordered {
	display: block;
	margin-bottom: 30px;
	width: 100%;
	background-color: rgb(250,250,250);
	border: none;
}
.project_item_name {
	font-size: 36px;
}
.more {
	font-size: 30px;
	color: rgb(63,81,181);
	&:hover {
		text-decoration: none;
	}
}
.task_item.done p.ng-binding{
	color: gray;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: -10px;
		width: 110%;
		height: 1px;
		background-color: gray;
	}
}