<div ng-controller="ProjectPageController as projectPage" class="project_item_block">
	<input type="text" class="project_item_name no_bordered" ng-model="projectPage.name" ng-blur="projectPage.nameChange()">
	<textarea class="project_item_desc no_bordered" ng-blur="projectPage.descChange()" ng-model="projectPage.desc"></textarea>
	 <md-input-container>
      <label>Developers</label>
      <md-select ng-model="projectPage.users" multiple ng-change="projectPage.usersChange()">
        <md-optgroup label="...">
          <md-option ng-value="user.id" ng-repeat="user in projectPage.usersLoc">{{user.name}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container></br>
    <a ui-sref=".inner" class="more">Task List</a>
    <div ui-view></div>
</div>