<div class="login_form_wrapper">
	<form action="" method="" name="login" flex="100" layout='column' class="login_form">
		<h2 class="md-display-2 login_heading">Login</h2>
		<md-input-container class="md-block" flex="100" flex-gt-sm="100">
			<label align="left">Name</label>
			<input required name="name" ng-model="user.name" md-maxlength="30">
			<div ng-messages="login.name.$error" align="left">
				<div ng-message="md-maxlength">30 letters max</div>
				<div ng-message="required">Enter your name</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex="100" flex-gt-sm="100">
			<label align="left">Password</label>
			<input required name="pass" type="password" ng-model="user.pass" md-maxlength="30">
			<div ng-messages="login.pass.$error" align="left">
				<div ng-message="md-maxlength">30 letters max</div>
				<div ng-message="required">Enter password</div>
			</div>
		</md-input-container>
		<div layout="row" layout-align="center center">
			<md-button type="submit" class="md-raised md-primary" ng-click="user.login($event)">Login</md-button>
		</div>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button class="md-primary" ui-sref="registrate">Registrate</md-button>
		</section>
	</form>
</div>