<div layout="row" class="project_header">
	<h1 class="user_name md-display-3 text-center" ui-sref="projects" flex="grow">Directives</h1>
</div>
<div class="component1" ng-controller="Dir1Controller as dirItem">
	<film name="{{dirItem.name}}" desc="{{dirItem.desc}}" pic="{{dirItem.pic}}" link="{{dirItem.link}}"></film>
</div>
<div class="component2" ng-controller="Dir2Controller as dirItem">
	<film name="{{dirItem.name}}" desc="{{dirItem.desc}}" pic="{{dirItem.pic}}" link="{{dirItem.link}}"></film>
</div>
<div class="component3" ng-controller="Dir3Controller as dirItem">
	<film name="{{dirItem.name}}" desc="{{dirItem.desc}}" pic="{{dirItem.pic}}" link="{{dirItem.link}}"></film>
</div>